.vscode/
.ext_dir/
.test_dir/
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
resources/functionalTests/**
resources/samples/**
resources/treeSitterErrorTests/**
resources/ade
